<h1>All Lists view page</h1>
<h2>All lists</h2>
<ul class="listItems">
  <li *ngFor="let list of lists; trackBy:trackByLists">
    <span class="listName"><a (click)="onSelect(list)">id: {{ list.id }}, name: {{ list.name }}</a></span>
  </li>
</ul>
<div>
	<label>List name:</label> 
	<input #listNameAdd />
	<button (click)="add(listNameAdd.value); listNameAdd.value = '';">
		Add
	</button>
	<br />
	<label>List id:</label> 
	<input #listIdDelete />
	<button (click)="delete(listIdDelete.value); listIdDelete.value = ''; $event.stopPropagation()">
		Remove
	</button>
</div>

<br />

<h2>Search Lists</h2>
<input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
<ul class="listItems">
  <li *ngFor="let list of searchLists | async; trackBy:trackByLists">
    <span class="listName"><a (click)="onSelect(list)">{{ list.name }}</a></span>
  </li>
</ul>

