// Primary tones - blues
$color-primary:#048C9B;
$colour-primary--light:#A3D5DA;


// Secondary tones - red
$colour-secondary:#D42D2D;

// Neutral tones - greys
$color-neutral--xxdark: #353531;
$color-neutral--mid: #E8E7E5;
$color-neutral--lightmid: #F4EFE8;
$color-neutral--xlight: #fff;